.drop-zone {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 32px;
}

.drop-zone-box {
	width: 100%;
	min-height: 144px;
	border: 2px dashed #D8D8D8;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;

	p {
		text-transform: uppercase;
		color: #D8D8D8;
	}
}

.file {
	width: auto;
	height: 144px;
	position: relative;
	display: flex;

	.preview {
		max-width: 100%;
		max-height: 100%;
		border-radius: 4px;
	}
}

.remove-button {
	position: absolute;
	left: -12px;
	top: -12px;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	background-color: white;
	box-shadow: 0 0 4px 1px darkgrey;

	p {
		margin-top: 2px;
		margin-bottom: 0;
		color: red;
		text-align: center;
	}
}