.drop-zone {
	width: 100%;
	display: flex;
	justify-content: center;
}

.drop-zone-box {
	background-color: #ffffff;
	border: 1px dashed #dfdee3;
	display: flex;
	align-items: center;
	justify-content: center;

	.placeholder-container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		p {
			color: #dfdee3;
		}
	}

	&:hover {
		cursor: pointer;
		border-color: #00afef;
		border-width: 2px;
	}
}
