.drop-zone {
	width: 100%;
	display: flex;
	justify-content: center;
}

.drop-zone-box {
  background-color: #FFFFFF;
	border: 1px dashed #DFDEE3;
	display: flex;
	align-items: center;
  justify-content: center;

  .placeholder-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
      color: #DFDEE3;
    }
  }

  &:hover{
    cursor: pointer;
    border-color: #00AFEF;
    border-width: 2px;
	}
}