@import 'config/sizes.scss';
@import 'config/buttons.scss';
@import 'config/type.scss';

input[type="button"],
input[type="submit"],
input[type="cancel"],
button,
.button {
  @include typeset(button);

  display: inline-block;
  outline: none;
  border-radius: $grid-base / 2;
  padding: $grid-base $grid-base*2;
  border: $grid-base/4 solid;
  text-decoration: none;

  @each $button-class, $bgcolor, $fgcolor, $border-color in $button-color-variations {
    &.button-#{$button-class} {
      background: $bgcolor;
      color: $fgcolor;
      border-color: $border-color;
      transition: background-color $button-transition-time linear;

      &:hover {
        background: darken($bgcolor, $button-hover-darken);
        border-color: darken($border-color, $button-hover-darken);
      }

      &:active {
        background: darken($bgcolor, $button-active-darken);
        border-color: darken($border-color, $button-hover-darken);
      }
    }
  }

  & + input[type="button"],
  & + input[type="submit"],
  & + input[type="cancel"],
  & + button,
  & + .button {
    margin-left: $grid-base;
  }
}
