.radio-tabs {
  // @extend .clearfix;
}

.radio-tab {
  float: left;
  margin-bottom: 0;
  position: relative;
  
  input, .box {
    display: none !important;
  }
  label {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    &:hover{
      cursor: pointer;
    }
  }
}
