@import "../../Styles/extends";

.radio-tabs {
  @extend .clearfix;
}

.radio-tab {
  float: left;
  margin-bottom: 0;
  .box {
    display: none !important;
  }
  label {
    display: block;

    svg {
      fill: #ffffff;
    }
  }
}

.accountPage {
  max-width: 500px !important;
  margin: auto;
  form {
    text-align: left;

    .input,
    .textarea {
      margin-bottom: 20px;
      .input-label-wrapper {
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
      }
    }
  }
}
