@import 'sizes.scss';
@import 'colors.scss';

$button-transition-time: 150ms;
$button-hover-darken: 10%;
$button-active-darken: 20%;

$button-color-variations: (
  ('primary',     $colorInfo,       $colorWhite,        $colorInfo),
  ('secondary',   $colorLightGrey,  $regularTextColor,  $colorLightGrey),
  ('disabled',    $colorLightGrey,  $lightTextColor,    $colorLightGrey),
  ('tertiary',    transparent,    $colorInfo,         $colorInfo),
);