/** Color - General Information **/
$colorInfo: #009DE0;
$colorInfoDark: #0088C2;

/** Color - Warning **/
$colorWarning: #FFC319;
$colorWarningDark: #C0900A;

/** Color - Error/Failure **/
$colorFailure: #FF224B;
$colorFailureDark: #CC1B3C;

/** Color - Success **/
$colorSuccess: #00B54A;
$colorSuccessDark: #00843A;

/** Secondary Colors **/
$colorWhite: #FFFFFF;
$colorLightGrey: #EFEEF3;
$colorGrey: #DFDEE3;
$colorDarkGrey: #ADADB0;

/** Text Colors **/
$darkTextColor: #000000;
$regularTextColor: #626163;
$lightTextColor: #C0C0C1;
$whiteTextColor: #FFFFFF;