$input-height: 35px;
$input-padding: 8px;
$input-addon-width: $input-height;

$input-border-width: 1px;
$input-border-radius: 6px;
$input-border-color: #D7D8D9;
$input-border-color-focus: #000000;

$input-text-color: $input-border-color-focus;

$input-highlight-color: #0A90F0;
