$type-variants: (
  'body': (font-size: 16px, line-height: 26px),
  'h1': (font-size: 56px, font-weight: 'bold', line-height: 67px),
  'h2': (font-size: 32px, font-weight: 'bold'),
  'h3': (font-size: 28px, font-weight: 'bold'),
  'h4': (font-size: 24px, font-weight: 'bold'),
  'h5': (font-size: 20px, font-weight: 'bold'),
  'h6': (font-size: 16px, font-weight: 'bold', line-height: 1.25),
  'button': (font-size: 14px, line-height: 16px)
);

@mixin typeset( $type: body-copy ) {
  $type: map-get($type-variants, $type);
  font-size: scut-em(map-get($type, font-size));

  @if map-has-key($type, font-weight) {
    font-weight: map-get($type, font-weight);
  }

  @if map-has-key($type, line-height) {
    line-height: scut-em(map-get($type, line-height), map-get($type, font-size));
  }

  @if map-has-key($type, font-family) {
    font-family: map-get($type, font-family);
  }
}